.Home__wrapper {
  width: 100%;
  background: url("/backgrounds/background.jpg") no-repeat center;
  background-size: cover;
}

.Home__layout {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Home__content {
  padding-top: 8rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.Home__title_fs {
  font-size: var(--title_fs);
  font-weight: 700;
  color: #fff;
}
.Home__subtitle_fs {
  font-size: var(--superheading_fs);
  font-weight: 400;
  color: #fff;
  line-height: 1.65;
  max-width: 30rem;
}
