:root {
  --title_fs: 3.75rem;
  --heading_fs: 1.5rem;
  --superheading_fs: 1.25rem;
  --subheading_fs: 1.125rem;
  --miniheading_fs: 1.1rem;
  --body_fs: 1rem;
  --note_fs: 0.925rem;
  --small_fs: 0.875rem;
  --tiny_fs: 0.775rem;
  --mini_fs: 0.625rem;
}

.mi_title {
  font-size: var(--title_fs);
}
.mi_heading {
  font-size: var(--heading_fs);
}
.mi_subheading {
  font-size: var(--subheading_fs);
}
.mi_miniheading {
  font-size: var(--miniheading_fs);
}
.mi_body {
  font-size: var(--body_fs);
}
.mi_note {
  font-size: var(--note_fs);
}
.mi_small {
  font-size: var(--small_fs);
}
.mi_tiny {
  font-size: var(--tiny_fs);
}
